.about {
  display: flex;
  margin: 140px 0 0 0;

  @include viewport--md {
    margin: 60px 0 0 0;
  }

  @media (max-width: 375px) {
    margin: 40px 0 0 0;
  }

  &__img {
    display: flex;
    flex: 1 0 120px;
    margin: 0 65px 0 0;

    @include viewport--sm {
      display: none;
    }
  }

  &__content {
    color: $color-gray;

    h2 {
      margin: 0 0 10px 0;

      font-size: 36px;
      font-weight: 400;
      line-height: 51px;
      font-family: $font-family--roboto;

      @include viewport--sm {
        font-size: 28px;
        line-height: 39px;
      }
    }

    p {
      margin: 0 0 35px 0;
    }

    span {
      @include viewport--md {
        display: none;
      }
    }
  }

  &__btn {
    margin: 30px 0 0 0;
    padding: 15px 45px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: $font-family--roboto;
    color: $color-blue;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background-color: $color-default-white;
    border: 1px solid $color-blue;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color $default-transition-settings;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-default-white;

        background-color: $color-blue;

        transition: background-color $default-transition-settings;
      }
    }
  }
}
