.card-advantages {
  padding: 35px 40px 60px 45px;

  background-color: $color-default-white;
  border: 1px solid #ebebeb;
  border-left: 3px solid $color-blue;
  cursor: pointer;

  transition: background-color $default-transition-settings;

  @include viewport--md {
    padding: 20px 20px 30px 25px;
  }

  @include viewport--sm {
    padding: 25px 15px 25px 25px;
  }

  @media (max-width: 375px) {
    padding: 25px 10px 40px 25px;
  }

  &__icon {
    display: flex;
    margin: 0 0 20px 0;

    @include viewport--md {
      margin: 0 0 15px 0;
    }

    @media (max-width: 375px) {
      margin: 0 0 10px 0;
    }
  }

  &__title {
    margin: 0 0 15px 0;

    font-size: 24px;
    line-height: 34px;
    font-family: $font-family--roboto;
    color: $color-blue;

    @include viewport--sm {
      font-size: 20px;
      margin: 0 0 5px 0;
    }
  }

  &__text {
    color: $color-gray;
  }


  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover &__title,
    &:hover &__text {
      color: $color-default-white;
    }

    &:hover &__icon svg {
      stroke: $color-default-white;
    }

    &:hover {
      background-color: $color-blue;

      transition: background-color $default-transition-settings;
    }
  }
}
