.footer {
  min-height: 100px;
  padding: 65px 0 0 0;

  background-color: #fafafa;

  @include viewport--md {
    padding: 0;
  }

  &__inner {
    display: flex;
    padding-bottom: 55px;

    @include viewport--md {
      flex-direction: column;
      padding: 0;
    }
  }

  &__info {
    margin: -10px 0 0 0;

    @include viewport--md {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 24px 25px;
      margin: 0;
    }

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
      padding: 45px 16px 55px;
    }

    @media (max-width: 375px) {
      padding: 45px 16px 50px;
    }
  }


  &__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 130px;
    margin: 30px 0 0 0;

    @include viewport--md {
      margin: 0;
    }

    @media (max-width: 375px) {
      margin: -15px 0 0 0;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin: 5px 15px 0 0;

    border-radius: 50%;

    transition: background-color $default-transition-settings;

    &:last-child {
      margin: 0;
    }

    &:focus {
      outline: none;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-blue;

        transition: background-color $default-transition-settings;
      }
    }
  }

  &__content {
    display: flex;
    flex: 1 0 auto;

    font-size: 15px;
    color: $color-tangaroa;

    @include viewport--md {
      padding: 35px 24px 45px;

      border-top: 1px solid rgba(98, 105, 98, 0.2);
    }

    @include viewport--sm {
      flex-direction: column;
      padding: 0;
    }
  }
}

.contacts-footer {
  @include viewport--sm {
    padding: 0 16px;
  }

  &__info {
    line-height: 25px;
    opacity: 0.5;
  }

  &__links {
    display: flex;
    flex-direction: column;

    a {
      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          color: $color-blue;

          transition: color $default-transition-settings;
        }
      }
    }
  }
}

.copyright {
  padding: 15px 0;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  border-top: 1px solid rgba(98, 105, 98, 0.2);
  opacity: 0.5;

  @include viewport--sm {
    padding: 30px 0;
  }


  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: flex;

    a {
      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          color: $color-blue;

          transition: color $default-transition-settings;
        }
      }
    }
  }

  &__years {
    margin: 0 140px 0 60px;

    @include viewport--lg {
      margin: 0 40px;
    }

    @include viewport--md {
      margin: 0;

      font-size: 13px;
      color: $color-tangaroa;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      opacity: 0.5;
    }

    @include viewport--sm {
      margin: 30px 0 35px;
    }
  }

  &__rights {
    @include viewport--md {
      display: none;
    }
  }

  &__author {
    @include viewport--sm {
      margin: 20px 0 0 0;
    }
  }
}
