.footer {
  min-height: 100px;
  padding: 65px 0 0 0;

  background-color: #fafafa;

  &__inner {
    display: flex;
    padding-bottom: 55px;
  }

  &__social {
    margin: 35px 0 0 0;
    display: flex;
  }

  &__icon {
    margin: 0 15px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    font-size: 15px;
    color: $color-tangaroa;
  }
}

.copyright {
  padding: 15px 0;
  font-size: 13px;
  text-transform: uppercase;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
  opacity: 0.5;


  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
  }

  &__years {
    margin: 0 140px 0 60px;
  }
}
