.form {
  display: flex;
  flex-direction: column;

  color: $color-default-white;

  &__send,
  &__title {
    font-family: $font-family--roboto;
  }

  &__header {
    margin: 0 0 50px 0;

    @media (max-width: 375px) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    margin: 0 0 10px 0;

    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @include viewport--md {
      font-size: 32px;
      line-height: 45px;
    }

    @include viewport--sm {
      font-size: 28px;
      line-height: 39px;
    }
  }


  &__inputs {
    display: flex;

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
    }

    label {
      margin: 0 30px 0 0;

      @include viewport--sm {
        margin: 0 0 30px 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__inputs input {
    width: 270px;
    height: 50px;
    padding: 0 5px 0 15px;

    color: $color-tangaroa;

    transition: background-color $default-transition-settings;

    @include viewport--sm {
      width: 290px;
    }

    &:focus,
    &:hover {
      background-color: #77c8ee;
      outline: none;
      box-shadow: 2px 2px 8px 2px #77c8ee;
    }

    &:hover {
      transition: background-color $default-transition-settings;
    }
  }

  &__message {
    @include viewport--sm {
      display: flex;
      justify-content: center;
    }
  }

  &__message textarea {
    width: 570px;
    height: 155px;
    margin: 40px 0 0 0;
    padding: 15px 5px 5px 15px;

    transition: background-color $default-transition-settings;

    @include viewport--sm {
      width: 290px;
      height: 104px;
      margin: 30px 0 0 0;
    }

    &:focus,
    &:hover {
      background-color: #77c8ee;
      outline: none;
      box-shadow: 2px 2px 8px 2px #77c8ee;
    }

    &:hover {
      transition: background-color $default-transition-settings;
    }
  }

  &__inputs input,
  &__message textarea {
    background-color: #19baff;
    border-width: 0;
    border-color: #19baff;
  }

  &__inputs input::placeholder,
  &__message textarea::placeholder {
    color: $color-default-white;
  }


  &__buttons {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;

    @include viewport--sm {
      flex-direction: column;
      margin: 30px 0 0 0;
    }
  }

  &__send {
    max-width: 270px;
    margin: 0 50px 0 0;
    padding: 15px 80px;

    color: $color-default-white;

    background-color: $color-blue;
    border: 1px solid $color-default-white;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color $default-transition-settings;

    @include viewport--sm {
      max-width: 290px;
      margin: 0 0 30px 0;
      padding: 15px 95px;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-blue;

        background-color: $color-default-white;

        transition: background-color $default-transition-settings;
      }
    }
  }

  &__checkbox {
    max-width: 260px;

    font-size: 14px;
    line-height: 16px;

    @include viewport--sm {
      margin: 0 0 0 -30px;
    }


    input {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;

      clip: rect(0 0 0 0);
    }

    label {
      display: flex;

      cursor: pointer;
      opacity: 0.8;

      &:focus {
        outline: none;
      }
    }
  }

  &__check {
    position: relative;

    display: flex;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin: 0 15px 0 0;

    border: 1px solid $color-default-white;
    cursor: pointer;
  }

  &__check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;

    width: 4px;
    height: 7px;

    border-right: 1px solid $color-default-white;
    border-bottom: 1px solid $color-default-white;
    transform: rotate(30deg);
    opacity: 0;
  }

  &__checkbox input:checked + &__check::before {
    opacity: 1;

    transition: opacity $default-transition-settings;
  }

  &__checkbox input:focus + &__check {
    border: 2px solid $color-default-white;
  }
}
