.form {
  &__header--modal {
    max-width: 380px;
    margin: 0 0 30px 0;
  }

  &__title--modal {
    font-size: 28px;
    line-height: 39px;
  }

  &__inputs--modal {
    display: flex;
    flex-direction: column;
  }

  &__inputs--modal input {
    width: 410px;
    margin: 0 0 30px 0;
    padding-left: 25px;
  }

  &__message--modal textarea {
    width: 410px;
    height: 105px;
    margin: 30px 0 0 0;
    padding-left: 25px;
  }

  &__buttons--modal {
    flex-direction: column;
    align-items: stretch;
    margin: 30px 0 0 0;
  }

  &__send--modal {
    max-width: 410px;
    margin: 0 0 30px 0;
  }

  &__checkbox--modal {
    max-width: 385px;
  }
}
