.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  width: 100%;
  padding: 30px 0 10px;

  @include viewport--sm {
    padding: 20px 0 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.logo-header {
  &__desktop {
    @include viewport--sm {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }
}

.contact {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;


  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 0 0 85px;

    @include viewport--md {
      margin: 0 0 0 30px;
    }

    @include viewport--sm {
      margin: 0 0 0 20px;
    }
  }


  &__link {
    transition: color $default-transition-settings;

    @include viewport--md {
      span {
        display: none;
      }
    }

    &:hover,
    &:focus {
      color: $color-blue;

      transition: color $default-transition-settings;
    }
  }

  &__link,
  &__btn {
    color: $color-default-white;
  }

  &__btn {
    margin: 0 0 0 45px;
    padding: 14px 25px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: $font-family--roboto;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background: none;
    border: 1px solid $color-default-white;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color $default-transition-settings;

    @include viewport--md {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $color-blue;

      transition: background-color $default-transition-settings;
    }
  }
}
