.logo {
  display: flex;
  align-items: center;

  &__svg {
    @include viewport--sm {
      width: 38px;
      height: 38px;
    }

    &--black {
      @include viewport--sm {
        width: 56px;
        height: 56px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;

    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    font-family: $font-family--roboto;
    color: $color-default-white;

    @include viewport--sm {
      display: none;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      font-family: "Roboto", "Verdana", sans-serif;
      color: #788891;
    }

    &--black {
      color: #203c42;

      @include viewport--sm {
        display: flex;
      }
    }
  }
}
