.services {
  padding: 90px 0 120px;

  background-color: $color-tangaroa;

  &__content {
    font-family: $font-family--roboto;
    color: $color-default-white;


    h2 {
      margin: 0 0 40px 0;

      font-size: 36px;
      font-weight: 400;
      line-height: 51px;

      @include viewport--md {
        font-size: 32px;
        line-height: 40px;
      }

      @include viewport--sm {
        font-size: 28px;
      }
    }
  }
}
