<div class="company__about about">
  <div class="about__img">
    <!-- 1х: 220px; 2x: 440px -->
    <picture>
      <source srcset="./../img/content/about-img@1x.webp 1x, ../../img/content/about-img@2x.webp 2x" type="image/webp">
        <img src="../../img/content/about-img@1x.png" srcset="../../img/content/about-img@2x.png 2x" alt="число 2005 синего цвета" width="116" height="305">
    </picture>
  </div>
  <div class="about__content">
    <h2>О компании</h2>
    <p>Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.</p>
    <p>
      Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND.
      Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог <span>(РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.</span>
    </p>
    <a href="#" class="about__btn">Подробнее</a>
  </div>
</div>
