<div class="company__advantages advantages">
  @@include("source/html/components/advantages-card.html", {
    "title": "Оперативные сроки",
    "text": "Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки",
    "id": "#icon-watch"
  })
  @@include("source/html/components/advantages-card.html", {
    "title": "Крупные поставщики",
    "text": "Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.",
    "id": "#icon-people"
  })
  @@include("source/html/components/advantages-card.html", {
    "title": "Полная конфиденциальность",
    "text": "По желанию клиента  мы обеспечиваем полную конфеденциальность.",
    "id": "#icon-privacy"
  })
  @@include("source/html/components/advantages-card.html", {
    "title": "Персонализация стоимости",
    "text": "Мы  подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.",
    "id": "#icon-price"
  })

</div>
