<a class="cards-services__item" href="#">
  <!-- 1х: 370px; 2x: 740px -->
 <picture>
  <source srcset="../../img/content/@@img.src@1x.webp 1x, ../../img/content/@@img.src@2x.webp 2x" type="image/webp">
    <img src="../../img/content/@@img.src@1x.@@img.formate" srcset="../../img/content/@@img.src@2x.@@img.formate 2x" width="370" height="620" alt="@@img.alt" >
</picture>
  <div class="cards-services__inner">
    <p>@@title</p>
    <div class="cards-services__box">
      <div class="cards-services__arrow">
        <svg width="6" height="9">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</a>
