<div class="form">
  <div class="form__header @@if (context.mod) { form__header--@@mod }">
    <h2 class="form__title @@if (context.mod) { form__title--@@mod }">@@title</h2>
    <p class="form__text">@@text</p>
  </div>
  <form class="form__main">
    <div class="form__inputs @@if (context.mod) { form__inputs--@@mod }">
      <label for="name" class="visually-hidden">Имя</label>
      <input id="name" type="text" placeholder="Имя">
      <label for="phone" class="visually-hidden">Телефон</label>
      <input id="phone" type="tel" placeholder="Телефон">
    </div>
    <div class="form__message @@if (context.mod) { form__message--@@mod }">
      <label for="message" class="visually-hidden">Введите ваш вопрос</label>
      <textarea id="message" placeholder="Ваш вопрос"></textarea>
    </div>
    <div class="form__buttons @@if (context.mod) { form__buttons--@@mod }">
      <button class="form__send @@if (context.mod) { form__send--@@mod }">Задать вопрос</button>
      <div class="form__checkbox @@if (context.mod) { form__checkbox--@@mod }">
        <label for="checkbox" tabindex="0">
         <input type="checkbox" id="checkbox" checked>
         <span class="form__check"></span>
          Я согласен на обработку персональных данных
       </label>
      </div>
    </div>
  </form>
</div>
