<div class="form">
  <div class="form__header @@if (context.mod) { form__header--@@mod }">
    <h2 class="form__title @@if (context.mod) { form__title--@@mod }">@@title</h2>
    <p class="form__text">@@text</p>
  </div>
  <form>
    <div class="form__inputs @@if (context.mod) { form__inputs--@@mod }">
      <label>
        <span class="visually-hidden">Имя</span>
        <input data-set="save" id="name@@if (context.mod){-@@mod}" type="text" placeholder="Имя">
      </label>
      <label>
        <span class="visually-hidden">Телефон</span>
        <input data-set="save" type="tel" placeholder="Телефон">
      </label>
    </div>
    <div class="form__message @@if (context.mod) { form__message--@@mod }">
      <label>
        <span class="visually-hidden">Введите ваш вопрос</span>
        <textarea data-set="save" placeholder="Ваш вопрос"></textarea>
      </label>
    </div>
    <div class="form__buttons @@if (context.mod) { form__buttons--@@mod }">
      <button class="form__send @@if (context.mod) { form__send--@@mod }">Задать вопрос</button>
      <div class="form__checkbox @@if (context.mod) { form__checkbox--@@mod }">
        <label>
          <input сlass="visually-hidden" type="checkbox" checked>
          <span class="form__check"></span>
          Я согласен на обработку персональных данных
        </label>
      </div>
    </div>
  </form>
</div>
