<section class="main">
  <div class="main__bg">
    <picture>
      <source srcset="../../img/bg/main-bg.webp" type="image/webp">
      <img src="../../img/bg/main-bg.png" alt="серый полупрозрачный узор на фоне">
    </picture>
  </div>
  <div class="main__inner container">
    <div class="main__content">
      <h1 class="main__title">Печатные платы</h1>
      <div class="main__box">
        <div class="main__line"></div>
        <p class="main__text">производство и монтаж, поставка комплектующих, блоков и модулей</p>
      </div>
      <div class="main__buttons buttons-main">
        <a data-scroll="link" class="buttons-main__form" href="#consultation"><span class="buttons-main__btn buttons-main__btn--desktop">Получить
            бесплатную консультацию</span><span class="buttons-main__btn buttons-main__btn--mobile">Бесплатная консультация</span></a>
        <a data-scroll="link" class="buttons-main__scroll" href="#scroll">Скролл вниз</a>
      </div>
    </div>
    <!-- 1х: 705px; 2x: 1410px -->
    <div class="main__img">
      <picture>
        <source srcset="../../img/content/main-img@1x.webp 1x, ../../img/content/main-img@2x.webp 2x" type="image/webp">
          <img src="../../img/content/main-img@1x.png" alt="набор микросхем синего цвета" srcset="../../img/content/main-img@2x.png 2x" width="705" height="515">
      </picture>
    </div>
    <div class="main__triangle">
      <picture>
        <source srcset="../../img/bg/main-triangle.webp" type="image/webp">
        <img src="../../img/bg/main-triangle.png" alt="белые треугольники на фоне" width="694" height="545">
      </picture>
    </div>
  </div>
</section>
