<section class="main">
  <div class="main__bg">
    <img src="../../img/bg/main-bg.png" alt="серый полупрозрачный узор на фоне">
    <img class="main__triangle" src="../../img/bg/main-triangle.png" alt="белые треугольники на фоне">
  </div>
  <div class="main__inner container">
    <div class="main__content">
      <h1 class="main__title">Печатные платы</h1>
      <div class="main__box">
        <div class="main__line"></div>
        <p class="main__text" >производство и монтаж, поставка комплектующих, блоков и модулей</p>
      </div>
      <div class="main__buttons buttons-main">
        <a class="buttons-main__form" href="#">Получить бесплатную консультацию</a>
        <a class="buttons-main__scroll" href="#">Скролл вниз</a>
      </div>
    </div>
    <div class="main__images">
      <!-- 1х: 705px; 2x: 1410px -->
      <img class="main__img" src="../../img/content/main-img.png" alt="набор микросхем синего цвета" srcset="../../img/content/main-img@2x.png 2x">
      <!-- <img class="main__triangle" src="../../img/bg/main-triangle.png" alt="белые треугольники на фоне"> -->
    </div>
  </div>
</section>
