<div class="footer__menu menu-footer accordion">
  @@include("source/html/components/accordion.html", {
    "title": "Разделы сайта"
    })
  <nav class="menu-footer__nav accordion__content">
    <ul class="menu-footer__list">
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">О компании</a>
      </li>
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Продукты</a>
      </li>
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Производство печатных плат</a>
      </li>
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Монтаж печатных плат</a>
      </li>
    </ul>
    <ul class="menu-footer__list">
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Комплектующие</a>
      </li>
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Доставка</a>
      </li>
      <li class="menu-footer__item">
        <a href="#" class="menu-footer__link">Контакты</a>
      </li>
    </ul>
  </nav>
</div>
