<div class="footer__menu menu-footer">
  <p class="menu-footer__title">Разделы сайта</p>
  <nav class="menu-footer__nav">
    <ul class="menu-footer__list">
      <li class="menu-footer__item">
        <a class="menu-footer__link">О компании</a>
      </li>
      <li class="menu-footer__item">
        <a class="menu-footer__link">Продукты</a>
      </li>
      <li class="menu-footer__item">
        <a class="menu-footer__link">Производство печатных плат</a>
      </li>
      <li class="menu-footer__item">
        <a class="menu-footer__link">Монтаж печатных плат</a>
      </li>
    </ul>
    <ul class="menu-footer__list">
      <li class="menu-footer__item">
        <a class="menu-footer__link">Комплектующие</a>
      </li>
      <li class="menu-footer__item">
        <a class="menu-footer__link">Доставка</a>
      </li>
      <li class="menu-footer__item">
        <a class="menu-footer__link">Контакты</a>
      </li>
    </ul>
  </nav>
</div>
